#init
c=[]
i=0

#start: supplied by casf.lambdas module
c.append(start)
c.append(f(c[i]))
format.readable.form5()(pd.DataFrame(data=c))

#sequence append
i+=1
c.append(f(c[i]))
format.readable.form5()(pd.DataFrame(data=c))

#2nd order sequence frame (notice/remind : no mp for assign?!)
fr2.assign(lam1 = lambda x: j(x[0])).applymap(format.readable.big5)

#dividix array append
n=136_22426_55901
ar = []
i=4_96005_9
ar.append([i,1,f(i)(0),0])
pd.DataFrame(data=format.readable.form5()(ar))
