#launch
mers = 2047
f=casf.lambdas.lule29_0(mers)[0]
cat cat_operator.tmpl
start=casf.lambdas.lule29_0(mers)[1]
cat cat_operator.tmpl

#repeat
mers = 2047
f=casf.lambdas.lule29_0(mers)[0]
cat cat_operator.tmpl
